/* SCSS Compiled */
/***************************************************              GENERAL RESET STYLES             ***************************************************/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

*:focus {
  outline: none; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  border-style: none;
  max-width: 100%; }

form fieldset {
  margin: 0;
  padding: 0;
  border: none; }

input, textarea, select {
  vertical-align: middle;
  color: #000;
  padding: 0; }

input, select {
  vertical-align: middle; }

input::-webkit-input-placeholder {
  color: #ebedec; }

input:focus::-webkit-input-placeholder {
  color: #ebedec; }

/*@media*/
/* @media (min-width: 1921px){} 													QHD \ UHD
@media (min-width: 1600px) and (max-width: 1919px) {}	HD +
@media (min-width: 1440px) and (max-width: 1599px) {}	macbook
@media (min-width: 1360px) and (max-width: 1439px) {}	HD
@media (min-width: 1280px) and (max-width: 1359px) {} IPAD2
@media (min-width: 1024px) and (max-width: 1279px) {} IPAD
@media (min-width: 896px) and (max-width: 1023px) {}	Ip Xs max horizontal
@media (min-width: 812px) and (max-width: 895px) {}		Ip Xs horizontal
@media (min-width: 768px) and (max-width: 811px) {}		Tablet
@media (min-width: 736px) and (max-width: 767px) {}		Ip 6,7,8 Plus horizontal
@media (min-width: 667px) and (max-width: 735px) {}		Ip 6,7,8 horizontal
@media (min-width: 568px) and (max-width: 666px) {}		Ip 5 horizontal
@media (min-width: 480px) and (max-width: 567px) {}		Ip 4 horizontal
@media (min-width: 414px) and (max-width: 479px) {}		Ip 6,7,8
@media (min-width: 320px) and (max-width: 413px) {}		Ip 4,5 */
/*@media end*/
/*usage  @include font-size(13);*/
/* Fonts ------------------------------------------------*/
/* Colors ------------------------------------------------*/
html {
  scroll-behavior: smooth; }

body {
  font-family: Brutal Type Light, Arial, sans-serif;
  height: 100%; }

.layout {
  margin: 0 auto;
  width: 100%;
  overflow: hidden; }

main {
  display: block;
  width: 100%;
  position: relative; }

#content {
  position: relative; }

#sidebar {
  position: relative; }

aside {
  position: relative; }

/***************************************************              FONTS             ***************************************************/
@font-face {
  font-family: 'Brutal Type Light';
  src: url("../fonts/BrutalType-Light.eot");
  src: url("../fonts/BrutalType-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/BrutalType-Light.woff2") format("woff2"), url("../fonts/BrutalType-Light.woff") format("woff"), url("../fonts/BrutalType-Light.ttf") format("truetype"), url("../fonts/BrutalType-Light.svg#BrutalType-Light") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Brutal Type Medium';
  src: url("../fonts/BrutalType-Medium.eot");
  src: url("../fonts/BrutalType-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/BrutalType-Medium.woff2") format("woff2"), url("../fonts/BrutalType-Medium.woff") format("woff"), url("../fonts/BrutalType-Medium.ttf") format("truetype"), url("../fonts/BrutalType-Medium.svg#BrutalType-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }
header {
  height: 1083px;
  width: 100%;
  background-image: url(../images/header-background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: visible;
  position: relative;
  line-height: 1.5; }
  header .wrapper {
    width: 1110px;
    position: relative;
    margin: 0 auto; }
    header .wrapper .header-strip {
      width: 100%;
      height: 110px;
      display: flex;
      align-items: center;
      position: relative; }
      header .wrapper .header-strip .header-logo {
        width: 162px;
        height: 133px;
        background-image: url(../images/logo.png);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 35px;
        left: calc(50% - 90px); }
      header .wrapper .header-strip .contact {
        position: absolute;
        top: 32px;
        right: 0;
        width: 210px; }
        header .wrapper .header-strip .contact .number {
          font-size: 23px;
          color: #414f7e; }
        header .wrapper .header-strip .contact .email {
          font-size: 18px;
          color: #636c8d; }
  header .header-menu nav {
    width: 100%;
    height: 60px;
    background: rgba(255, 255, 255, 0.5);
    padding-left: 25%;
    padding-right: 25%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    header .header-menu nav ul {
      display: flex;
      justify-content: space-between; }
      header .header-menu nav ul a {
        font-size: 18px;
        color: #414f7e;
        -moz-transition: all 0.3s 0.01s ease;
        -o-transition: all 0.3s 0.01s ease;
        -webkit-transition: all 0.3s 0.01s ease; }
      header .header-menu nav ul a:hover {
        color: #65a9df; }
    header .header-menu nav .submenu {
      position: relative; }
    header .header-menu nav .submenu:hover .nav-contain {
      visibility: visible; }
    header .header-menu nav ul.nav-left {
      float: left;
      margin-left: -30px;
      position: relative;
      width: 275px; }
    header .header-menu nav ul.nav-right {
      float: right;
      width: 325px;
      margin-right: -55px; }
    header .header-menu nav .fas {
      font-size: 12px;
      margin-left: 5px; }
    header .header-menu nav ul.nav-contain {
      position: absolute;
      background: rgba(255, 255, 255, 0.5);
      top: 160%;
      display: inline-block;
      visibility: hidden; }
      header .header-menu nav ul.nav-contain a {
        font-size: 18px;
        color: #414f7e; }
      header .header-menu nav ul.nav-contain li {
        position: relative;
        padding: 10px 15px;
        -moz-transition: all 0.3s 0.01s ease;
        -o-transition: all 0.3s 0.01s ease;
        -webkit-transition: all 0.3s 0.01s ease; }
      header .header-menu nav ul.nav-contain li:hover {
        color: #65a9df;
        background: #fff; }
    header .header-menu nav ul.nav-contain > li > a {
      padding: 10px 15px;
      position: relative; }
  header .wrapper .social {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0; }
    header .wrapper .social a {
      -moz-transition: all 0.3s 0.01s ease;
      -o-transition: all 0.3s 0.01s ease;
      -webkit-transition: all 0.3s 0.01s ease; }
    header .wrapper .social a:first-child {
      margin: 25px 0 20px 0; }
    header .wrapper .social a:hover {
      opacity: 0.7; }
  header .header-center {
    text-align: center;
    width: 935px;
    height: 280px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto; }
    header .header-center h1 {
      font-size: 70px;
      color: #fff;
      font-weight: 100; }
    header .header-center p {
      font-size: 36px;
      color: #fff;
      margin-bottom: 75px; }
    header .header-center .call {
      color: #fff;
      font-size: 24px;
      padding: 15px 30px;
      border: 1px solid white;
      border-radius: 3px;
      margin-top: 75px;
      -moz-transition: all 0.3s 0.01s ease;
      -o-transition: all 0.3s 0.01s ease;
      -webkit-transition: all 0.3s 0.01s ease; }
    header .header-center .call:hover {
      background: #65a9df;
      border: 1px solid rgba(255, 255, 255, 0.5); }
  header .rombs {
    position: absolute;
    background: url(../images/rombs.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 937px;
    height: 1055px;
    z-index: 1;
    top: 40.8%;
    right: 56.5%; }

#block1 {
  width: 100%;
  height: 640px;
  background: #e6f1fa;
  position: relative;
  line-height: 1.2; }
  #block1 .wrapper {
    width: 1110px;
    position: relative;
    margin: 0 auto; }
    #block1 .wrapper .block1-logo {
      width: 199px;
      height: 162px;
      background-image: url(../images/block1-logo.png);
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: 90px;
      left: 75px; }
    #block1 .wrapper .block1-text {
      width: 725px;
      float: right;
      margin-top: 30px; }
      #block1 .wrapper .block1-text p {
        font-size: 18px; }
      #block1 .wrapper .block1-text .block1-indent {
        margin-bottom: 30px; }
      #block1 .wrapper .block1-text .block1-list {
        margin-bottom: 30px;
        line-height: 1.8;
        margin-left: 80px; }
        #block1 .wrapper .block1-text .block1-list li {
          position: relative; }
        #block1 .wrapper .block1-text .block1-list li:before {
          content: "";
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: #414f7e;
          position: absolute;
          left: -35px;
          top: 12px; }

#block2 {
  width: 100%;
  height: 1045px;
  box-sizing: border-box;
  position: relative;
  padding: 30px 0 30px 0; }
  #block2 .block2-line {
    background-color: #414f7e;
    height: 270px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1; }
  #block2 .block2-line-bottom {
    background-color: #414f7e;
    height: 270px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1; }
  #block2 .block2-wrapper {
    width: 1450px;
    position: relative;
    margin: 0 auto; }
    #block2 .block2-wrapper .card1 {
      position: relative;
      float: left;
      height: 479px;
      max-width: 100%;
      margin: 0 30px 30px 0; }
      #block2 .block2-wrapper .card1 .description {
        width: 190px;
        bottom: 0;
        right: 0; }
    #block2 .block2-wrapper .card2 {
      position: relative;
      float: right;
      height: 479px;
      max-width: 100%; }
      #block2 .block2-wrapper .card2 .description {
        width: 140px;
        bottom: 0;
        left: 0; }
    #block2 .block2-wrapper .card3 {
      position: relative;
      float: left;
      height: 479px;
      max-width: 100%; }
      #block2 .block2-wrapper .card3 .description {
        width: 145px;
        top: 0;
        right: 0; }
    #block2 .block2-wrapper .card4 {
      position: relative;
      float: right;
      height: 479px;
      max-width: 100%; }
      #block2 .block2-wrapper .card4 .description {
        width: 170px;
        top: 0;
        left: 0; }
    #block2 .block2-wrapper .description {
      position: absolute;
      z-index: 1;
      background: rgba(255, 255, 255, 0.5);
      text-align: center;
      height: 68px;
      line-height: 68px;
      vertical-align: middle; }
      #block2 .block2-wrapper .description p {
        color: #57607b;
        font-size: 30px;
        font-family: Brutal Type Medium, Arial, serif; }
    #block2 .block2-wrapper img {
      width: 100%;
      height: 100%; }

#block3 {
  width: 100%;
  height: 975px;
  box-sizing: border-box;
  position: relative; }
  #block3 .wrapper {
    width: 1080px;
    position: relative;
    margin: 0 auto; }
    #block3 .wrapper ul.tabs {
      display: block;
      z-index: 5;
      position: absolute;
      text-align: center; }
      #block3 .wrapper ul.tabs li {
        position: absolute; }
        #block3 .wrapper ul.tabs li p {
          left: -35px;
          position: absolute;
          color: #000; }
        #block3 .wrapper ul.tabs li .tabs-1 {
          top: 260px; }
        #block3 .wrapper ul.tabs li .tabs-2 {
          top: 495px;
          left: -45px; }
        #block3 .wrapper ul.tabs li .tabs-3 {
          top: 715px;
          left: -25px; }
      #block3 .wrapper ul.tabs li::after {
        content: "";
        background-repeat: no-repeat;
        position: absolute;
        z-index: 1; }
      #block3 .wrapper ul.tabs li::before {
        content: "";
        background-repeat: no-repeat;
        position: absolute;
        z-index: 1; }
      #block3 .wrapper ul.tabs li:nth-child(1)::after {
        width: 2px;
        height: 250px;
        background-image: url(../images/line1.png);
        top: 0;
        z-index: 1; }
      #block3 .wrapper ul.tabs li:nth-child(1)::before {
        width: 2px;
        height: 198px;
        background-image: url(../images/line2.png);
        top: 285px;
        z-index: 1; }
      #block3 .wrapper ul.tabs li:nth-child(2)::after {
        width: 2px;
        height: 183px;
        background-image: url(../images/line3.png);
        top: 520px;
        z-index: 1; }
      #block3 .wrapper ul.tabs li:nth-child(3)::after {
        width: 2px;
        height: 250px;
        background-image: url(../images/line4.png);
        top: 740px;
        z-index: 1; }
      #block3 .wrapper ul.tabs a {
        content: "";
        width: 40px;
        height: 40px;
        border: 5px solid #414f7e;
        transform: rotate(45deg);
        background: #fff;
        position: absolute;
        left: -24px;
        z-index: 2;
        -moz-transition: all 0.3s 0.01s ease;
        -o-transition: all 0.3s 0.01s ease;
        -webkit-transition: all 0.3s 0.01s ease; }
      #block3 .wrapper ul.tabs a:hover {
        background: #414f7e; }
      #block3 .wrapper ul.tabs .active a {
        background: #414f7e; }
      #block3 .wrapper ul.tabs .link-1 {
        top: 173px; }
      #block3 .wrapper ul.tabs .link-2 {
        top: 410px; }
      #block3 .wrapper ul.tabs .link-3 {
        top: 635px; }
      #block3 .wrapper ul.tabs .tabs {
        display: flex;
        flex-direction: column;
        float: left;
        position: relative;
        height: 975px; }
    #block3 .wrapper #tabs-container {
      height: 975px;
      width: 90%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row-reverse; }
      #block3 .wrapper #tabs-container .t1 .block {
        width: 1080px;
        height: 975px;
        float: right;
        padding: 50px 0px 50px 15%;
        box-sizing: border-box;
        text-align: center;
        position: relative;
        margin-left: -130px; }
        #block3 .wrapper #tabs-container .t1 .block h3 {
          font-size: 30px;
          font-weight: 100;
          margin-bottom: 30px; }
        #block3 .wrapper #tabs-container .t1 .block .description-t1 {
          width: 660px;
          font-size: 18px;
          display: block;
          margin: 0 auto;
          padding-bottom: 35px; }
        #block3 .wrapper #tabs-container .t1 .block .our-work {
          font-size: 18px;
          margin-bottom: 24px; }
        #block3 .wrapper #tabs-container .t1 .block .list-in-tab {
          width: 925px;
          height: 400px;
          text-align: left;
          position: relative;
          line-height: 1.3; }
          #block3 .wrapper #tabs-container .t1 .block .list-in-tab .tab-logo {
            background-image: url(../images/logo-t1.png);
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: -50px;
            right: 0;
            left: -40px;
            bottom: -80px;
            z-index: 10; }
          #block3 .wrapper #tabs-container .t1 .block .list-in-tab .left {
            float: left;
            position: relative;
            width: 260px;
            height: 410px; }
            #block3 .wrapper #tabs-container .t1 .block .list-in-tab .left li::after {
              content: "";
              background-repeat: no-repeat;
              position: absolute;
              z-index: 1; }
            #block3 .wrapper #tabs-container .t1 .block .list-in-tab .left li:nth-child(1)::after {
              width: 142px;
              height: 75px;
              background-image: url(../images/line-service.png);
              top: 35px;
              left: 245px; }
            #block3 .wrapper #tabs-container .t1 .block .list-in-tab .left li:nth-child(2) {
              margin: 30px 0 30px 0; }
            #block3 .wrapper #tabs-container .t1 .block .list-in-tab .left li:nth-child(2)::after {
              width: 150px;
              height: 1px;
              background-image: url(../images/line-calls.png);
              top: 170px;
              left: 220px; }
            #block3 .wrapper #tabs-container .t1 .block .list-in-tab .left li:nth-child(3)::after {
              width: 185px;
              height: 1px;
              bottom: 110px;
              left: 170px;
              background-image: url(../images/line-work.png);
              background-repeat: repeat-x; }
          #block3 .wrapper #tabs-container .t1 .block .list-in-tab .right {
            float: right;
            position: relative;
            width: 260px;
            height: 410px; }
            #block3 .wrapper #tabs-container .t1 .block .list-in-tab .right li::before {
              content: "";
              position: absolute;
              z-index: 1;
              background-repeat: no-repeat; }
            #block3 .wrapper #tabs-container .t1 .block .list-in-tab .right li:nth-child(1)::before {
              width: 82px;
              height: 82px;
              top: 16px;
              right: 274px;
              background-image: url(../images/line-comfort.png); }
            #block3 .wrapper #tabs-container .t1 .block .list-in-tab .right li:nth-child(2) {
              margin: 30px 0 30px 0; }
            #block3 .wrapper #tabs-container .t1 .block .list-in-tab .right li:nth-child(2)::before {
              width: 100px;
              height: 1px;
              bottom: 285px;
              right: 267px;
              background-image: url(../images/line-conversation.png); }
            #block3 .wrapper #tabs-container .t1 .block .list-in-tab .right li:nth-child(3) {
              margin: 0 0 30px 0; }
            #block3 .wrapper #tabs-container .t1 .block .list-in-tab .right li:nth-child(3)::before {
              width: 109px;
              height: 50px;
              bottom: 114px;
              right: 269px;
              background-image: url(../images/line-promo.png); }
            #block3 .wrapper #tabs-container .t1 .block .list-in-tab .right li:nth-child(4)::before {
              width: 178px;
              height: 66px;
              bottom: 0;
              right: 267px;
              background-image: url(../images/line-see.png); }
          #block3 .wrapper #tabs-container .t1 .block .list-in-tab p {
            font-size: 14px; }
            #block3 .wrapper #tabs-container .t1 .block .list-in-tab p span {
              font-family: Brutal Type Medium, Arial, serif;
              font-size: 18px; }
        #block3 .wrapper #tabs-container .t1 .block .our-values-t1 {
          width: 660px;
          margin: 0 auto;
          padding: 70px 0 35px 0;
          font-size: 18px; }
        #block3 .wrapper #tabs-container .t1 .block .more-info {
          width: 630px;
          display: block;
          margin: 0 auto;
          font-size: 18px; }
        #block3 .wrapper #tabs-container .t1 .block .callback-btn {
          display: block;
          width: 255px;
          height: 60px;
          line-height: 60px;
          vertical-align: middle;
          background: #414f7e;
          border-radius: 3px;
          font-size: 24px;
          color: #fff;
          position: absolute;
          bottom: 50px;
          left: 45%;
          z-index: 2;
          -moz-transition: all 0.3s 0.01s ease;
          -o-transition: all 0.3s 0.01s ease;
          -webkit-transition: all 0.3s 0.01s ease; }
        #block3 .wrapper #tabs-container .t1 .block .callback-btn:hover {
          background: #65a9df; }
      #block3 .wrapper #tabs-container .t2 .block {
        width: 1080px;
        height: 975px;
        float: right;
        padding: 50px 0px 50px 15%;
        box-sizing: border-box;
        text-align: center;
        position: relative;
        margin-left: -130px; }
        #block3 .wrapper #tabs-container .t2 .block h3 {
          font-size: 30px;
          font-weight: 100;
          margin-bottom: 30px; }
        #block3 .wrapper #tabs-container .t2 .block .description-t2 {
          width: 475px;
          font-size: 18px;
          display: block;
          margin: 0 auto;
          padding-bottom: 35px; }
        #block3 .wrapper #tabs-container .t2 .block .our-work {
          font-size: 18px;
          margin-bottom: 40px; }
        #block3 .wrapper #tabs-container .t2 .block .list-in-tab {
          width: 925px;
          height: 400px;
          text-align: left;
          position: relative;
          line-height: 1.3; }
          #block3 .wrapper #tabs-container .t2 .block .list-in-tab .tab-logo {
            background-image: url(../images/logo-t1.png);
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: -30px;
            right: 0;
            left: -40px;
            bottom: -80px;
            z-index: 10; }
          #block3 .wrapper #tabs-container .t2 .block .list-in-tab .left {
            float: left;
            position: relative;
            width: 255px;
            height: 400px; }
            #block3 .wrapper #tabs-container .t2 .block .list-in-tab .left li::after {
              content: "";
              background-repeat: no-repeat;
              position: absolute;
              z-index: 1; }
            #block3 .wrapper #tabs-container .t2 .block .list-in-tab .left li:nth-child(1)::after {
              width: 204px;
              height: 100px;
              background-image: url(../images/line-variants.png);
              top: 20px;
              left: 185px; }
            #block3 .wrapper #tabs-container .t2 .block .list-in-tab .left li:first-child {
              margin-bottom: 55px; }
            #block3 .wrapper #tabs-container .t2 .block .list-in-tab .left li:nth-child(2)::after {
              width: 150px;
              height: 1px;
              background-image: url(../images/line-calls.png);
              bottom: 130px;
              left: 230px; }
          #block3 .wrapper #tabs-container .t2 .block .list-in-tab .right {
            float: right;
            position: relative;
            width: 260px;
            height: 410px; }
            #block3 .wrapper #tabs-container .t2 .block .list-in-tab .right li::before {
              content: "";
              position: absolute;
              z-index: 1;
              background-repeat: no-repeat; }
            #block3 .wrapper #tabs-container .t2 .block .list-in-tab .right li:nth-child(1)::before {
              width: 82px;
              height: 82px;
              top: 24px;
              right: 265px;
              background-image: url(../images/line-comfort.png); }
            #block3 .wrapper #tabs-container .t2 .block .list-in-tab .right li:nth-child(2) {
              margin: 40px 0 40px 0; }
            #block3 .wrapper #tabs-container .t2 .block .list-in-tab .right li:nth-child(2)::before {
              width: 144px;
              height: 1px;
              bottom: 255px;
              right: 267px;
              background-image: url(../images/line-conversation.png); }
            #block3 .wrapper #tabs-container .t2 .block .list-in-tab .right li:nth-child(3)::before {
              width: 93px;
              height: 1px;
              bottom: 105px;
              right: 268px;
              background-image: url(../images/line-conversation.png); }
          #block3 .wrapper #tabs-container .t2 .block .list-in-tab p {
            font-size: 14px; }
            #block3 .wrapper #tabs-container .t2 .block .list-in-tab p span {
              font-family: Brutal Type Medium, Arial, serif;
              font-size: 18px; }
        #block3 .wrapper #tabs-container .t2 .block .our-values-t2 {
          width: 645px;
          margin: 0 auto;
          padding: 50px 0 35px 0;
          font-size: 18px; }
        #block3 .wrapper #tabs-container .t2 .block .more-info {
          width: 630px;
          display: block;
          margin: 0 auto;
          font-size: 18px; }
        #block3 .wrapper #tabs-container .t2 .block .callback-btn {
          display: block;
          width: 255px;
          height: 60px;
          line-height: 60px;
          vertical-align: middle;
          background: #414f7e;
          border-radius: 3px;
          font-size: 24px;
          color: #fff;
          position: absolute;
          bottom: 50px;
          left: 45%;
          z-index: 2;
          -moz-transition: all 0.3s 0.01s ease;
          -o-transition: all 0.3s 0.01s ease;
          -webkit-transition: all 0.3s 0.01s ease; }
        #block3 .wrapper #tabs-container .t2 .block .callback-btn:hover {
          background: #65a9df; }
      #block3 .wrapper #tabs-container .t3 .block {
        width: 1080px;
        height: 975px;
        float: right;
        padding: 50px 0px 50px 15%;
        box-sizing: border-box;
        text-align: center;
        position: relative;
        margin-left: -130px; }
        #block3 .wrapper #tabs-container .t3 .block h3 {
          font-size: 30px;
          font-weight: 100;
          margin-bottom: 30px; }
        #block3 .wrapper #tabs-container .t3 .block .description-t3 {
          width: 475px;
          font-size: 18px;
          display: block;
          margin: 0 auto;
          padding-bottom: 35px; }
        #block3 .wrapper #tabs-container .t3 .block .our-work {
          font-size: 18px;
          margin-bottom: 40px; }
        #block3 .wrapper #tabs-container .t3 .block .list-in-tab {
          width: 925px;
          height: 490px;
          text-align: left;
          position: relative;
          line-height: 1.3;
          margin-bottom: 55px; }
          #block3 .wrapper #tabs-container .t3 .block .list-in-tab .tab-logo {
            background-image: url(../images/logo-t1.png);
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: -65px;
            right: 0;
            left: -40px;
            bottom: -80px;
            z-index: 10; }
          #block3 .wrapper #tabs-container .t3 .block .list-in-tab .left {
            float: left;
            position: relative;
            width: 305px;
            height: 525px; }
            #block3 .wrapper #tabs-container .t3 .block .list-in-tab .left p span {
              font-family: Brutal Type Medium, Arial, serif;
              font-size: 18px; }
            #block3 .wrapper #tabs-container .t3 .block .list-in-tab .left li::after {
              content: "";
              background-repeat: no-repeat;
              position: absolute;
              z-index: 1; }
            #block3 .wrapper #tabs-container .t3 .block .list-in-tab .left li:nth-child(1)::after {
              background-image: url(../images/line-rent1.png);
              width: 110px;
              height: 105px;
              top: 17px;
              left: 275px; }
            #block3 .wrapper #tabs-container .t3 .block .list-in-tab .left li:nth-child(2) {
              margin: 65px 0 45px 35px; }
            #block3 .wrapper #tabs-container .t3 .block .list-in-tab .left li:nth-child(2)::after {
              width: 150px;
              height: 1px;
              background-image: url(../images/line-calls.png);
              bottom: 245px;
              left: 198px; }
            #block3 .wrapper #tabs-container .t3 .block .list-in-tab .left li:nth-child(3)::after {
              background-image: url(../images/line-rent2.png);
              width: 150px;
              height: 81px;
              bottom: 108px;
              left: 310px; }
          #block3 .wrapper #tabs-container .t3 .block .list-in-tab .right {
            float: right;
            position: relative;
            width: 260px;
            height: 525px; }
            #block3 .wrapper #tabs-container .t3 .block .list-in-tab .right li::before {
              content: "";
              position: absolute;
              z-index: 1;
              background-repeat: no-repeat; }
            #block3 .wrapper #tabs-container .t3 .block .list-in-tab .right li:nth-child(1)::before {
              width: 100px;
              height: 1px;
              top: 163px;
              right: 257px;
              background-image: url(../images/line-calls.png); }
            #block3 .wrapper #tabs-container .t3 .block .list-in-tab .right li:nth-child(2) {
              margin: 30px 0 40px -50px; }
            #block3 .wrapper #tabs-container .t3 .block .list-in-tab .right li:nth-child(2)::before {
              width: 83px;
              height: 1px;
              top: 248px;
              right: 315px;
              background-image: url(../images/line-conversation.png); }
            #block3 .wrapper #tabs-container .t3 .block .list-in-tab .right li:nth-child(3)::before {
              width: 100px;
              height: 1px;
              bottom: 160px;
              right: 258px;
              background-image: url(../images/line-calls.png); }
          #block3 .wrapper #tabs-container .t3 .block .list-in-tab p {
            font-size: 14px; }
            #block3 .wrapper #tabs-container .t3 .block .list-in-tab p span {
              font-family: Brutal Type Medium, Arial, serif;
              font-size: 18px; }
        #block3 .wrapper #tabs-container .t3 .block .more-info {
          width: 630px;
          display: block;
          margin: 0 auto;
          font-size: 18px;
          margin-top: 80px; }
        #block3 .wrapper #tabs-container .t3 .block .callback-btn {
          display: block;
          width: 255px;
          height: 60px;
          line-height: 60px;
          vertical-align: middle;
          background: #414f7e;
          border-radius: 3px;
          font-size: 24px;
          color: #fff;
          position: absolute;
          bottom: 50px;
          left: 45%;
          z-index: 2;
          -moz-transition: all 0.3s 0.01s ease;
          -o-transition: all 0.3s 0.01s ease;
          -webkit-transition: all 0.3s 0.01s ease; }
        #block3 .wrapper #tabs-container .t3 .block .callback-btn:hover {
          background: #65a9df; }
  #block3 .rombs-block3 {
    width: 811px;
    height: 1024px;
    background: url(../images/rombs-block3.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: -11%;
    bottom: -27.4%;
    z-index: 1; }

#block4 {
  width: 100%;
  height: 340px;
  background: #414f7e;
  box-sizing: border-box; }
  #block4 .block4-wrapper {
    width: 1205px;
    position: relative;
    margin: 0 auto; }
    @media (min-width: 970px) {
      #block4 .block4-wrapper {
        max-width: 100%;
        width: auto;
        padding: 0 60px 0 60px; } }
    @media screen and (max-width: 780px) {
      #block4 .block4-wrapper {
        max-width: 100%;
        width: 640px;
        padding: 0 60px 0 60px; } }
    #block4 .block4-wrapper .bx-wrapper {
      margin-bottom: 0 !important;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: none;
      background: none; }
      #block4 .block4-wrapper .bx-wrapper .bx-viewport {
        width: 100%;
        overflow: hidden;
        position: relative;
        height: 340px !important; }
        @media screen and (max-width: 780px) {
          #block4 .block4-wrapper .bx-wrapper .bx-viewport {
            height: 325px !important; } }
        #block4 .block4-wrapper .bx-wrapper .bx-viewport .slider .slider-row {
          width: 1110px;
          height: 340px;
          display: flex;
          justify-content: center;
          align-items: center; }
          @media screen and (max-width: 780px) {
            #block4 .block4-wrapper .bx-wrapper .bx-viewport .slider .slider-row {
              height: 325px; } }
          #block4 .block4-wrapper .bx-wrapper .bx-viewport .slider .slider-row .review {
            width: 635px;
            position: relative;
            color: #fff;
            font-size: 24px;
            line-height: 30px; }
            @media screen and (max-width: 780px) {
              #block4 .block4-wrapper .bx-wrapper .bx-viewport .slider .slider-row .review {
                width: 480px;
                font-size: 18px;
                line-height: 25px; } }
            #block4 .block4-wrapper .bx-wrapper .bx-viewport .slider .slider-row .review .author {
              position: absolute;
              bottom: -45px;
              right: -25px; }
          #block4 .block4-wrapper .bx-wrapper .bx-viewport .slider .slider-row .review::before {
            content: "";
            width: 92px;
            height: 70px;
            background-image: url(../images/quote-1.png);
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            bottom: -35px;
            left: -125px; }
            @media screen and (max-width: 780px) {
              #block4 .block4-wrapper .bx-wrapper .bx-viewport .slider .slider-row .review::before {
                background-image: url(../images/quote-1-mobile.png);
                bottom: -80px;
                left: -80px; } }
          #block4 .block4-wrapper .bx-wrapper .bx-viewport .slider .slider-row .review::after {
            content: "";
            width: 92px;
            height: 70px;
            background-image: url(../images/quote-2.png);
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            top: -25px;
            right: -120px; }
            @media screen and (max-width: 780px) {
              #block4 .block4-wrapper .bx-wrapper .bx-viewport .slider .slider-row .review::after {
                background-image: url(../images/quote-2-mobile.png);
                top: -70px;
                right: -75px; } }
      #block4 .block4-wrapper .bx-wrapper .bx-controls-direction a {
        position: absolute;
        top: 50%;
        margin-top: -13.5px;
        outline: 0;
        width: 16px;
        height: 29px;
        text-indent: -9999px;
        z-index: 9999; }
      #block4 .block4-wrapper .bx-wrapper .bx-controls-direction .bx-prev {
        left: 0;
        background: url(../images/slider-arrow-left.png) no-repeat 0 0 !important; }
      #block4 .block4-wrapper .bx-wrapper .bx-controls-direction .bx-next {
        right: 0;
        background: url(../images/slider-arrow-right.png) no-repeat 0 0 !important; }
      #block4 .block4-wrapper .bx-wrapper .bx-pager {
        display: none; }

#block5 {
  width: 100%;
  height: 575px;
  background: #c3e0f8;
  padding: 50px 0px 50px 0px;
  box-sizing: border-box; }
  #block5 .block5-wrapper {
    width: 1205px;
    position: relative;
    margin: 0 auto; }
    #block5 .block5-wrapper h2 {
      font-size: 30px;
      font-weight: 100;
      text-align: center; }
    #block5 .block5-wrapper .bx-wrapper {
      margin-bottom: 0 !important;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: none;
      background: none; }
      #block5 .block5-wrapper .bx-wrapper .bx-viewport {
        width: 100%;
        overflow: hidden;
        position: relative;
        height: 452px !important; }
        #block5 .block5-wrapper .bx-wrapper .bx-viewport .slider .slider-row {
          height: 400px;
          width: 1110px;
          margin-top: 50px;
          display: flex;
          justify-content: center; }
          #block5 .block5-wrapper .bx-wrapper .bx-viewport .slider .slider-row .person {
            width: 256px;
            height: 402px;
            position: relative;
            z-index: 1;
            margin-right: 30px; }
            #block5 .block5-wrapper .bx-wrapper .bx-viewport .slider .slider-row .person .person-name {
              width: 100%;
              height: 53px;
              background-color: #fff;
              position: absolute;
              bottom: 0;
              opacity: 0.7;
              display: flex;
              justify-content: center;
              align-items: center; }
              #block5 .block5-wrapper .bx-wrapper .bx-viewport .slider .slider-row .person .person-name p {
                font-size: 24px;
                font-weight: 600;
                color: #000; }
          #block5 .block5-wrapper .bx-wrapper .bx-viewport .slider .slider-row .person:last-child {
            margin-right: 0; }
      #block5 .block5-wrapper .bx-wrapper .bx-controls-direction a {
        position: absolute;
        top: 50%;
        margin-top: -16px;
        outline: 0;
        width: 16px;
        height: 32px;
        text-indent: -9999px;
        z-index: 9999; }
      #block5 .block5-wrapper .bx-wrapper .bx-controls-direction .bx-prev {
        left: 0;
        background: url(../images/slider-arrow-left.png) no-repeat 0 0 !important; }
      #block5 .block5-wrapper .bx-wrapper .bx-controls-direction .bx-next {
        right: 0;
        background: url(../images/slider-arrow-right.png) no-repeat 0 0 !important; }
      #block5 .block5-wrapper .bx-wrapper .bx-pager {
        display: none; }

footer {
  width: 100%;
  height: 908px;
  background-image: url(../images/footer-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding-bottom: 20px;
  box-sizing: border-box; }
  footer .callback {
    width: 350px;
    height: 412px;
    background-color: #fff;
    border-radius: 3px;
    padding: 36px 36px 46px 36px;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.3);
    box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.3);
    position: absolute;
    left: calc(50% - 175px);
    bottom: 70px;
    z-index: 1; }
    footer .callback h2 {
      width: 262px;
      font-size: 20px;
      line-height: 25px;
      text-align: center;
      font-weight: 100; }
    footer .callback .callback-form {
      width: 258px;
      height: 53px;
      outline: none;
      border-radius: 3px;
      margin-top: 27px;
      font-size: 18px;
      font-family: Brutal Type Light, Arial, sans-serif;
      border: 1px solid #c7c7c7;
      -webkit-box-shadow: 0px 0px 0px 1px #888888;
      -moz-box-shadow: 0px 0px 0px 1px #888888;
      box-shadow: 0px 0px 0px 1px #888888;
      padding-left: 20px;
      color: #b2b1b1; }
    footer .callback input::-webkit-input-placeholder {
      color: #b2b1b1; }
    footer .callback input:-moz-placeholder {
      color: #b2b1b1; }
    footer .callback input:-ms-input-placeholder {
      color: #b2b1b1; }
    footer .callback .submit {
      width: 280px;
      height: 64px;
      font-family: Brutal Type Light, Arial, sans-serif;
      background: #414f7e;
      border-radius: 3px;
      margin-top: 30px;
      font-size: 24px;
      cursor: pointer;
      outline: none;
      border: none;
      color: #fff;
      -moz-transition: all 0.3s 0.01s ease;
      -o-transition: all 0.3s 0.01s ease;
      -webkit-transition: all 0.3s 0.01s ease; }
    footer .callback .submit:hover {
      background: #65a9df; }
  footer .wrapper {
    width: 1110px;
    position: relative;
    margin: 0 auto; }
    footer .wrapper .text {
      color: #fff;
      font-size: 12px; }
    footer .wrapper .company {
      float: left;
      width: 265px;
      height: 200px;
      line-height: 1.2;
      margin-top: 15px; }
      footer .wrapper .company .footer-logo img {
        margin: 0 30px 0 -5px; }
      footer .wrapper .company .footer-column1 {
        margin: 25px 0 0 10px;
        line-height: 1.5; }
        footer .wrapper .company .footer-column1 a {
          color: #fff;
          font-size: 12px;
          -moz-transition: all 0.3s 0.01s ease;
          -o-transition: all 0.3s 0.01s ease;
          -webkit-transition: all 0.3s 0.01s ease; }
        footer .wrapper .company .footer-column1 a:hover {
          color: #65a9df; }
        footer .wrapper .company .footer-column1 .vertical {
          display: none; }
        footer .wrapper .company .footer-column1 ul.submenu {
          margin-left: 10px; }
    footer .wrapper .footer-copyright {
      float: right;
      text-align: right;
      line-height: 1.5; }
      footer .wrapper .footer-copyright .indent {
        margin-top: 20px; }
      footer .wrapper .footer-copyright .footer-social {
        padding: 15px 0 5px 0; }
        footer .wrapper .footer-copyright .footer-social a {
          -moz-transition: all 0.3s 0.01s ease;
          -o-transition: all 0.3s 0.01s ease;
          -webkit-transition: all 0.3s 0.01s ease; }
        footer .wrapper .footer-copyright .footer-social a:first-child {
          margin-right: 15px; }
        footer .wrapper .footer-copyright .footer-social a:hover {
          opacity: 0.7; }
