/* SCSS Compiled */
@import "global/reset.scss";
@import "global/mixins.scss";
@import "global/var.scss";
@import "global/styles.scss";
@import "global/fonts.scss";

@import "partials/header.scss";
@import "partials/block1.scss";
@import "partials/block2.scss";
@import "partials/block4.scss";
@import "partials/block5.scss";
@import "partials/footer.scss";