/* Fonts ------------------------------------------------*/
$brutal-tl: Brutal Type Light, Arial, sans-serif;
$brutal-me: Brutal Type Medium, Arial, serif;

/* Colors ------------------------------------------------*/
$white-transparent: rgba(255, 255, 255, 0.5);
$white: #fff;
$blue: #65a9df;
$darkblue: #414f7e;
$block1: #e6f1fa;
$block2-p: #57607b;
$footer-ph: #b2b1b1;