/* Fonts ------------------------------------------------*/
$brutal-tl: Brutal Type Light, Arial, sans-serif;
$brutal-me: Brutal Type Medium, Arial, serif;

/* Colors ------------------------------------------------*/
$white-transparent: rgba(255, 255, 255, 0.5);
$white: #fff;
$black: #000;
$blue: #65a9df;
$darkblue: #414f7e;
$darkblue-transparent: rgba(65, 79, 126, 0.7);
$block1: #e6f1fa;
$block2-p: #57607b;
$footer-ph: #b2b1b1;
$block5: #c3e0f8;

/* Media Queries */
$tablet-biggest: "(max-width: 1500px) and (min-width: 1300px)";
$tablet-big: "(max-width: 1300px) and (min-width: 768px)";
$tablet-big-special: "(max-width: 1200px) and (min-width: 768px)";
$tablet-big-medium: "(max-width: 1160px) and (min-width: 768px)";
$tablet: "(max-width: 1000px) and (min-width: 768px)";
$tablet-complex: "(max-width: 768px) and (min-width: 320px)";
$tablet-small: "(max-width: 768px) and (min-width: 541px)";
$tablet-special-big: "(max-width: 768px) and (min-width: 676px)";
$mobile-special: "(max-width: 675px) and (min-width: 541px)";
$mobile-big: "(max-width: 650px) and (min-width: 541px)";
$mobile: "(max-width: 540px)";
$mobile-medium: "(max-width: 495px)";
$mobile-medium-small: "(max-width: 420px)";
$mobile-small: "(max-width: 320px)";

@mixin respond-to($media) {
    @media only screen and #{$media} {
        @content;
    }
}