#block1 {
	width: 100%;
    height: 635px;
    background: $block1;
    position: relative;
	line-height: 1.2;
	
	@include respond-to($tablet-big) {
		height: 986px;
		margin: 0 auto;
	}
	@include respond-to($tablet-small) {
		height: 1100px;
		margin: 0 auto;
	}
	@include respond-to($mobile) {
		height: 835px;
		margin: 0 auto;
	}
	@include respond-to($mobile-medium-small) {
		height: 850px;
		margin: 0 auto;
	}
	
	.wrapper {
		width: 1110px;
		position: relative;
		margin: 0 auto;
		
		@include respond-to($tablet-big) {
			width: 100%;
		}
		@include respond-to($tablet-small) {
			width: 100%;
		}
		@include respond-to($mobile) {
			width: 88%;
		}
	
		.block1-logo {
			width: 199px;
			height: 162px;
			background-image: url(../images/block1-logo.png);
			background-repeat: no-repeat;
			background-size: cover;
			position: absolute;
			top: 90px;
			left: 75px;
			
			@include respond-to($tablet-big) {
				top: 130px;
				left: calc(50% - 100px);
			}
			@include respond-to($tablet-small) {
				top: 115px;
				left: calc(50% - 100px);
			}
			@include respond-to($mobile) {
				top: 40px;
				left: calc(50% - 110px);
			}
			@include respond-to($mobile-medium-small) {
				top: 25px;
			}
		}
		
		.block1-text {
			width: 725px;
			float: right;
			margin-top: 30px;
			
			@include respond-to($tablet-big) {
				width: 640px;
				position: absolute;
				left: calc(50% - 319px);
				top: calc(50% + 320px);
			}
			@include respond-to($tablet-small) {
				width: 480px;
				position: absolute;
				left: calc(50% - 230px);
				top: calc(50% + 350px);
			}
			@include respond-to($mobile) {
				width: 88%;
				position: absolute;
				left: 6%;
				top: calc(50% + 250px);
				margin-top: 0;
			}
			@include respond-to($mobile-medium-small) {
				width: 88%;
				position: absolute;
				left: 6%;
				top: calc(50% + 220px);
				margin-top: 0;
			}
			
			p {
				font-size: 18px;
				
				@include respond-to($mobile) {
					font-size: 14px;
				}
				@include respond-to($mobile-medium-small) {
					font-size: 13px;
				}
			}
			
			.block1-indent {
				margin-bottom: 30px;
				
				@include respond-to($mobile) {
					margin-bottom: 20px;
				}
			}
			
			.block1-list {
				margin-bottom: 30px;
				line-height: 1.8;
				margin-left: 80px;
				
				@include respond-to($mobile) {
					margin-bottom: 20px;
					line-height: 1.5;
					margin-left: 50px;
				}
				
				li {
					position: relative;
					
					@include respond-to($mobile) {
						font-size: 14px;
					}
					@include respond-to($mobile-medium-small) {
						font-size: 13px;
					}
				}
				
				li:before {
					content: "";
					width: 8px;
					height: 8px;
					border-radius: 50%;
					background: $darkblue;
					position: absolute;
					left: -35px;
					top: 12px;
					
					@include respond-to($mobile) {
						width: 5px;
						height: 5px;
						left: -25px;
						top: 9px;
					}
				}
			}
		}
	}
}