footer {
	width: 100%;
    height: 908px;
    background-image: url(../images/footer-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
    box-sizing: border-box;
	@include respond-to($tablet-big-medium) {
		width: 100%;
		height: 1070px;
		background-image: url(../images/footer-background-mobile.png);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		position: relative;
		display: flex;
		align-items: flex-end;
		padding-bottom: 35px;
		box-sizing: border-box;
	}
	@include respond-to($tablet-small) {
		width: 100%;
		height: 1070px;
		background-image: url(../images/footer-background-mobile.png);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		position: relative;
		display: flex;
		align-items: flex-end;
		padding-bottom: 35px;
		box-sizing: border-box;
	}
	@include respond-to($mobile) {
		width: 100%;
		height: 1110px;
		background-image: url(../images/footer-background-mobile.png);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		position: relative;
		display: flex;
		align-items: flex-end;
		padding-bottom: 30px;
		box-sizing: border-box;
	}
	
	.callback {
		width: 350px;
		height: 412px;
		background-color: $white;
		border-radius: 3px;
		padding: 36px 36px 46px 36px;
		box-sizing: border-box;
		-webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.3);
		-moz-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.3);
		box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.3);
		position: absolute;
		left: calc(50% - 175px);
		bottom: 70px;
		z-index: 1;
		@include respond-to($tablet-big-medium) {
			position: relative;
			width: 425px;
			height: 395px;
			border-radius: 3px;
			left: calc(50% - 213px);
			bottom: 58%;
			z-index: 2;
			background-color: transparent;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			padding: 0;
		}
		@include respond-to($tablet-small) {
			position: relative;
			width: 425px;
			height: 395px;
			border-radius: 3px;
			left: calc(50% - 213px);
			bottom: 58%;
			z-index: 2;
			background-color: transparent;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			padding: 0;
		}
		@include respond-to($mobile) {
			position: relative;
			width: 80%;
			height: 395px;
			border-radius: 3px;
			left: 10%;
			bottom: 60%;
			z-index: 2;
			background-color: transparent;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			padding: 0;
		}
		
		h2 {
			width: 262px;
			font-size: 20px;
			line-height: 25px;
			text-align: center;
			font-weight: 100;
			@include respond-to($tablet-big-medium) {
				width: 425px;
				font-size: 24px;
				line-height: 25px;
				text-align: center;
				font-weight: 100;
			}
			@include respond-to($tablet-small) {
				width: 425px;
				font-size: 24px;
				line-height: 25px;
				text-align: center;
				font-weight: 100;
			}
			@include respond-to($mobile) {
				width: 100%;
				font-size: 1.5em;
				line-height: 25px;
				text-align: center;
				font-weight: 100;
			}
		}
		
		.callback-form {
			width: 258px;
			height: 53px;
			outline: none;
			border-radius: 3px;
			margin-top: 27px;
			font-size: 18px;
			font-family: $brutal-tl;
			border: 1px solid #c7c7c7;
			-webkit-box-shadow: 0px 0px 0px 1px #888888;
			-moz-box-shadow: 0px 0px 0px 1px #888888;
			box-shadow: 0px 0px 0px 1px #888888;
			padding-left: 20px;
			color: $footer-ph; 
			@include respond-to($tablet-big-medium) {
				width: 395px;
				height: 80px;
				outline: none;
				border-radius: 3px;
				margin-top: 35px;
				font-size: 18px;
				font-family: $brutal-tl;
				border: 1px solid #c7c7c7;
				-webkit-box-shadow: 0px 0px 0px 1px #888888;
				-moz-box-shadow: 0px 0px 0px 1px #888888;
				box-shadow: 0px 0px 0px 1px #888888;
				padding-left: 25px;
				color: $footer-ph;
			}
			@include respond-to($tablet-small) {
				width: 395px;
				height: 80px;
				outline: none;
				border-radius: 3px;
				margin-top: 35px;
				font-size: 18px;
				font-family: $brutal-tl;
				border: 1px solid #c7c7c7;
				-webkit-box-shadow: 0px 0px 0px 1px #888888;
				-moz-box-shadow: 0px 0px 0px 1px #888888;
				box-shadow: 0px 0px 0px 1px #888888;
				padding-left: 25px;
				color: $footer-ph;
			}
			@include respond-to($mobile) {
				width: 90%;
				height: 80px;
				outline: none;
				border-radius: 3px;
				margin-top: 35px;
				font-size: 18px;
				font-family: $brutal-tl;
				border: 1px solid #c7c7c7;
				-webkit-box-shadow: 0px 0px 0px 1px #888888;
				-moz-box-shadow: 0px 0px 0px 1px #888888;
				box-shadow: 0px 0px 0px 1px #888888;
				padding-left: 25px;
				color: $footer-ph;
			}
		}
		
		input::-webkit-input-placeholder {
			color: $footer-ph; 
		}
		input:-moz-placeholder {
			color: $footer-ph; 
		}
		input:-ms-input-placeholder {
			color: $footer-ph; 
		}
		
		.submit {
			width: 280px;
			height: 64px;
			font-family: $brutal-tl;
			background: $darkblue;
			border-radius: 3px;
			margin-top: 30px;
			font-size: 24px;
			cursor: pointer;
			outline: none;
			border: none;
			color: $white;
			-moz-transition: all 0.3s 0.01s ease;
			-o-transition: all 0.3s 0.01s ease;
			-webkit-transition: all 0.3s 0.01s ease;
			@include respond-to($tablet-big-medium) {
				position: absolute;
				margin-top: 45px;
				left: calc(50% - 140px);
			}
			@include respond-to($tablet-small) {
				position: absolute;
				margin-top: 45px;
				left: calc(50% - 140px);
			}
			@include respond-to($mobile) {
				width: 80%;
				position: relative;
				margin-top: 45px;
				left: 10%;
				font-size: 1.2em;
			}
		}
		
		.submit:hover {
			background: $blue;
		}
	}
	
	.wrapper {
		width: 1110px;
		position: relative;
		margin: 0 auto;
		@include respond-to($tablet-big-medium) {
			width: 90%;
			position: absolute;
			bottom: 35px;
			left: 5%;
		}
		@include respond-to($tablet-small) {
			width: 90%;
			position: absolute;
			bottom: 35px;
			left: 5%;
		}
		@include respond-to($mobile) {
			width: 90%;
			position: absolute;
			bottom: 30px;
			left: 5%;
		}
		
		.text {
			color: $white;
			font-size: 12px;
			
			@include respond-to($mobile) {
				font-size: 0.6em;
			}
		}
		
		.company {
			float: left;
			width: 265px;
			height: 200px;
			line-height: 1.2;
			margin-top: 15px;
			@include respond-to($tablet-big-medium) {
				width: 100%;
				height: 115px;
				line-height: 17px;
				margin-top: 15px;
				position: relative;
			}
			@include respond-to($tablet-small) {
				width: 100%;
				height: 115px;
				line-height: 17px;
				margin-top: 15px;
				position: relative;
			}
			@include respond-to($mobile) {
				width: 100%;
				height: 115px;
				line-height: 15px;
				margin-top: 15px;
				position: relative;
			}
			
			.footer-logo {
			
				span {
				
					@include respond-to($tablet-big-medium) {
						float: right;
						text-align: right;
						font-size: 14px;
					}
					@include respond-to($tablet-small) {
						float: right;
						text-align: right;
						font-size: 14px;
					}
					@include respond-to($mobile-special) {
						font-size: 12px;
					}
					@include respond-to($mobile) {
						font-size: 0.7em;
						float: right;
						text-align: right;
					}
				}
				
				img {
					margin: 0 30px 0 -5px;
					@include respond-to($tablet-big-medium) {
						float: left;
						margin-left: 110px;
						height: 56px;
						margin-top: -25px;
					}
					@include respond-to($tablet-small) {
						float: left;
						margin-left: 110px;
						height: 56px;
						margin-top: -25px;
					}
					@include respond-to($mobile-special) {
						margin-left: 16%;
					}
					@include respond-to($mobile) {
						height: 30px;
						float: left;
						margin: 0 0 0 7%;
					}
				}
			}
			
			.footer-column1 {
				margin: 25px 0 0 10px;
				line-height: 1.5;
				@include respond-to($tablet-big-medium) {
					width: 100%;
					display: flex;
					justify-content: space-around;
					position: absolute;
					bottom: 30px;
					margin: 0;
				}
				@include respond-to($tablet-small) {
					width: 100%;
					display: flex;
					justify-content: space-around;
					position: absolute;
					bottom: 30px;
					margin: 0;
				}
				@include respond-to($mobile) {
					width: 100%;
					display: flex;
					justify-content: space-around;
					position: absolute;
					bottom: 15px;
					margin: 0;
				}
				
				a {
					color: $white;
					font-size: 12px;
					-moz-transition: all 0.3s 0.01s ease;
					-o-transition: all 0.3s 0.01s ease;
					-webkit-transition: all 0.3s 0.01s ease;
					@include respond-to($tablet-big-medium) {
						font-size: 18px;
					}
					@include respond-to($tablet-small) {
						font-size: 18px;
					}
					@include respond-to($mobile) {
						font-size: 12px;
					}
				}
				
				a:hover {
					color: $blue;
				}
				
				.submenu-list {
					
					@include respond-to($tablet-big-medium) {
						display: none;
					}
					@include respond-to($tablet-small) {
						display: none;
					}
					@include respond-to($mobile) {
						display: none;
					}
				}
				
				.vertical {
					display: none;
					@include respond-to($tablet-big-medium) {
						font-size: 18px;
						display: inline-flex;
						color: $white;
					}
					@include respond-to($tablet-small) {
						font-size: 18px;
						display: inline-flex;
						color: $white;
					}
					@include respond-to($mobile) {
						font-size: 12px;
						display: inline-flex;
						color: $white;
					}
				}
				
				ul.submenu {
					margin-left: 10px;
					@include respond-to($tablet-big-medium) {
						 display: none;
					}
					@include respond-to($tablet-small) {
						 display: none;
					}
					@include respond-to($mobile) {
						 display: none;
					}
				}
			}
		}
		
		.map {
			display: none;
			@include respond-to($tablet-big-medium) {
				display: block;
				float: left;
				width: 400px;
				height: 237px;
				background: url(../images/footer-map.png);
				background-size: cover;
				background-repeat: no-repeat;
			}
			@include respond-to($tablet-special-big) {
				display: block;
				float: left;
				width: 400px;
				height: 237px;
				background: url(../images/footer-map.png);
				background-size: cover;
				background-repeat: no-repeat;
			}
			@include respond-to($mobile-special) {
				display: block;
				float: left;
				width: 290px;
				height: 223px;
				background: url(../images/footer-map-mobile.png);
				background-size: cover;
				background-repeat: no-repeat;
				position: absolute;
				bottom: 0;
			}
			@include respond-to($mobile) {
				display: block;
				float: left;
				width: 60%;
				height: 150px;
				background: url(../images/footer-map-mobile.png);
				background-size: cover;
				background-repeat: no-repeat;
				position: absolute;
				bottom: 0;
			}
		}
		
		.footer-copyright {
			float: right;
			text-align: right;
			line-height: 1.5;
			
			.indent {
				margin-top: 20px;
			}
			
			.indent-big {
				@include respond-to($mobile-special) {
					margin-top: 40px;
				}
				@include respond-to($mobile) {
					margin-top: 20px;
				}
			}
			
			.two-column {
				@include respond-to($tablet-big-medium) {
					width: 190px;
					margin-top: 0;
				}
				@include respond-to($tablet-special-big) {
					width: 190px;
					margin-top: 0;
				}
				@include respond-to($mobile-special) {
					width: 100%;
					margin-top: 0;
				}
				@include respond-to($mobile) {
					width: 100%;
					margin-top: 0;
				}
			}
			
			.three-column {
				display: none;
				@include respond-to($mobile-special) {
					display: block;
				}
				@include respond-to($mobile) {
					display: block;
				}
			}
			
			.footer-social {
				padding: 15px 0 5px 0;
				@include respond-to($tablet-big-medium) {
					padding: 20px 0 10px 0;
				}
				@include respond-to($tablet-small) {
					padding: 20px 0 10px 0;
				}
				@include respond-to($mobile-special) {
					padding: 30px 0 15px 0;
				}
				@include respond-to($mobile) {
					padding: 15px 0 10px 0;
				}
				
				a {
					-moz-transition: all 0.3s 0.01s ease;
					-o-transition: all 0.3s 0.01s ease;
					-webkit-transition: all 0.3s 0.01s ease;
					
					img {
						@include respond-to($tablet-big-medium) {
							width: 40px;
						}
						@include respond-to($tablet-small) {
							width: 40px;
						}
						@include respond-to($mobile) {
							width: 25px;
						}
					}
				}
				
				a:first-child {
					margin-right: 15px;
					@include respond-to($tablet-big-medium) {
						margin-right: 35px;
					}
					@include respond-to($tablet-small) {
						margin-right: 35px;
					}
					@include respond-to($mobile) {
						margin-right: 10%;
					}
				}
				
				a:hover {
					opacity: 0.7;
				}
			}
		}
	}
}