header {
	height: 1083px;
    width: 100%;
    background-image: url(../images/header-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: visible;
    position: relative;
	line-height: 1.5;
	
	#wrapper {
		width: 1110px;
		position: relative;
		margin: 0 auto;
		
		.header-strip {
			width: 100%;
			height: 110px;
			display: flex;
			align-items: center;
			position: relative;
			
			.header-logo {
				width: 162px;
				height: 133px;
				background-image: url(../images/logo.png);
				background-repeat: no-repeat;
				background-size: cover;
				position: absolute;
				top: 35px;
				left: calc(50% - 90px);
			}
			
			.contact {
				position: absolute;
				top: 32px;
				right: 0;
				width: 210px;
				
				.number {
					font-size: 23px;
					color: $darkblue;
				}
				
				.email {
					font-size: 18px;
					color: #636c8d;
				}
			}
		}
	}
	
	.header-menu {
		
		nav {
			width: 100%;
			height: 60px;
			background: $white-transparent;
			padding-left: 25%;
			padding-right: 25%;
			box-sizing: border-box;
			display: flex;
			align-items: center;
			justify-content: space-between;
			
			ul {
				display: flex;
				justify-content: space-around;
				
				a {
					font-size: 18px;
					color: $darkblue;
					-moz-transition: all 0.3s 0.01s ease;
					-o-transition: all 0.3s 0.01s ease;
					-webkit-transition: all 0.3s 0.01s ease;
				}
				
				a:hover {
					color: $blue;
				}
			}
			
			ul.nav-left {
				float: left;
				margin-left: -20px;
				position: relative;
				width: 285px;
			}
			
			ul.nav-right {
				float: right;
				width: 285px;
			}
			
			ul.nav-contain {
				display: none;
				position: absolute;
				background: $white-transparent;
				top: 165%;
				
				a {
					font-size: 18px;
					color: $darkblue;
					-moz-transition: all 0.3s 0.01s ease;
					-o-transition: all 0.3s 0.01s ease;
					-webkit-transition: all 0.3s 0.01s ease;
				}
				
				li {
					display: inline-block;
					position: relative;
					padding: 10px 15px;
				}
				
				li:hover {
					color: $blue;
					background: #fff;
				}
			}
			
			ul.nav-contain > li > a {
				padding: 10px 15px;
				position: relative;
			}
			
			ul.nav-contain:hover {
				display: block;
			}
			
			ul.nav-contain li:hover::before {
				 content: '';
				 top: 0; left: 0; right: 0; bottom: 0;
				 position: absolute;
			}
			
		}
	}
	
	#wrapper {
	
		.social {
			display: flex;
			flex-direction: column;
			position: absolute;
			right: 0;
			
			a {
				-moz-transition: all 0.3s 0.01s ease;
				-o-transition: all 0.3s 0.01s ease;
				-webkit-transition: all 0.3s 0.01s ease;
			}
			
			a:first-child {
				margin: 25px 0 20px 0;
			}
			
			a:hover {
				opacity: 0.7;
			}
		}
	}
	
	.header-center {
		text-align: center;
		width: 935px;
		height: 280px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto auto;
		
		h1 {
		    font-size: 70px;
			color: #fff;
			font-weight: 100;
		}
		
		p {
			font-size: 36px;
			color: #fff;
			margin-bottom: 75px;
		}
		
		.call {
			color: #fff;
			font-size: 24px;
			padding: 15px 30px;
			border: 1px solid white;
			border-radius: 3px;
			margin-top: 75px;
			transition: background 0.3s linear, color 0.3s linear, border 0.3s linear, border-radius 0.3s linear, font-weight 0.3s linear;
		}
		
		.call:hover {
			background: $white-transparent;
			color: $darkblue;
			border: 1px solid $white-transparent;
			font-weight: bold;
		}
	}
	
	.rombs {
		position: absolute;
		background: url(../images/rombs.png);
		background-repeat: no-repeat;
		background-size: contain;
		width: 937px;
		height: 1055px;
		z-index: 1;
		top: 40.8%;
		right: 56.5%;
	}
}